body{
	margin:0 auto;
	 max-width: 50em;
	 font-family: "helvetica","arial",sans-serif;
	 line-height: 1.5;
	 padding: 4em 1em;
	 color: #555; 
}

li{
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.Wrigley img {
	background-repeat: no-repeat;
	/*background-size: auto;*/
	width: 100%;
	

}

.nav-bar{
		background-color: #0033cc;
	 	color: white;	
}

h2{
	text-align: center;
	padding-top: 10px;
	font-family: "Vollkorn+SC"; sans-serif;
}
.nav-bar li  {
	display: inline;
	margin: 0;
	color: white;
	padding: 0 20px 0 20px;
	
}

.nav-bar ul {
	text-align: center;	
}
 .icons:hover{
	
	 box-shadow:10px 5px 6px 0px rgba(229,229,229,1);
}




.main {
	display: flex; 
	flex-direction: column;
	
}

.hakko {
	float:right;
	width:150px;
	height: 200px;
}


 
.parks {
	display: flex;
	flex-wrap: wrap;
	/*background-color: #e6ebef;*/
	font-family: 'Vollkorn SC', serif;
	/*color: white;*/
	text-align: center;
  	
}

.parks img {
	width: 250px;
	height: 250px;
	box-shadow: 8px 8px 10px #aaa;
}
.stadium {
	padding-right: 15px;
}
