body{
	margin:0 auto;
	 max-width: 50em;
	 font-family: "helvetica","arial",sans-serif;
	 line-height: 1.5;
	 padding: 4em 1em;
	 color: #555;
	 

}

li{
	list-style-type: none;
    margin: 0;
    padding: 0;
}
.Wrigley {
	background-repeat: no-repeat;
	background-size: auto;

}


.nav-bar{
		background-color: #0033cc;
	 	color: white;	
}

h2{
	text-align: center;
	padding-top: 10px;
}
.nav-bar li  {
	display: inline;
	margin: 0;
	color: white;
	padding: 0 20px 0 20px;
	text-align: center;
}

.nav-bar  a {
	color:white;
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Vollkorn SC', serif;
	font-size: 25px;
}

a:hover {
	color: #0066ff;
}


.main {
	display: flex; 
	flex-direction: column;
	
}

.hakko {
	float:right;
	width:20%;
}


p {
	font-size: 20px;
}

 
.parks {
	display: flex;
	flex-wrap: wrap;
  	
}

.parks img {
	width: 250px;
	height: 250px;
	box-shadow: 8px 8px 10px #aaa;
}
.stadium {
	padding-right: 15px;
}
